<div id="header_region"></div>
<div id="main_region">
  <h1>All Users</h1>
  <% unless @users.empty? %>
    <ul class="user_listing">
      <% @users.each do |user| %>
        <li data-user-id="<%= user._id %>">
          <img src="http://placekitten.com/100/100" width="60" height="60" alt="avatar" />
          <h2><%= user.name %></h2>
          <p><%= user.email %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Add some users, please </p>
  <% end %>

  <div id="user-modal" class="modal">
    <h3> James this doesn't work </h3>
  </div>




</div>
<div id="footer_region"></div>
